<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Task</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Source+Sans+3:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">

<nav class="navbar navbar-expand navbar-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="../static/img/logo.png" th:src="@{/img/logo.png}"
                 width="36" height="36" class="me-3 th-logo" alt="TaskHive logo">
            TaskHive
        </h1>
        <div class="collapse navbar-collapse navbar-options">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/task}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/}">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
                        <li>
                            <form style="display:none" th:action="@{/logout}" method="POST" id="logoutForm"></form>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                              action="#" th:action="@{/task/edit/submit}" method="POST" th:object="${task}">
                            <h3>Edit task</h3>
                            <input type="hidden" th:field="*{id}" />

                            <div class="col-12">
                                <!-- Title -->
                                <div class="form-outline">
                                    <label class="form-label" for="task-title">Task title</label>
                                    <div class="input-group has-validation">
                                        <input type="text" id="task-title" class="form-control"
                                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : 'is-valid'"
                                               th:field="*{title}" aria-describedby="validation-title" required/>
                                        <div id="validation-title" class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="col-12 mt-2">
                                    <label class="form-label" for="task-desc">Description</label>
                                    <textarea class="form-control" id="task-desc" rows="3" placeholder="Optional..." th:field="*{description}"></textarea>
                                </div>

                                <!-- Category -->
                                <div class="col-12 mt-2">
                                    <label for="category">Category</label>
                                    <div class="input-group has-validation">
                                        <select id="category" th:field="*{categoryId}" class="form-select"
                                                th:classappend="${#fields.hasErrors('categoryId')} ? 'is-invalid' : 'is-valid'"
                                                aria-describedby="validation-categoryid">
                                            <option value="-1">---</option>
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}" th:text="${category.title}">Category</option>
                                        </select>
                                        <div id="validation-categoryid" class="invalid-feedback" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
                                    </div>
                                </div>

                                <!-- Tags -->
                                <div class="col-12 mt-2">
                                    <label class="form-label" for="task-tags">Tags</label>
                                    <input type="text" id="task-tags" class="form-control" th:field="*{tags}" placeholder="tag1, tag2, tag3, ..."/>
                                </div>

                                <!-- Deadline y Priority -->
                                <div class="row mt-2">
                                    <div class="col">
                                        <label class="form-label" for="task-deadline">Deadline</label>
                                        <input type="datetime-local" id="task-deadline" class="form-control" th:field="*{deadline}"/>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="task-priority">Priority</label>
                                        <select id="task-priority" class="form-select" th:field="*{priority}">
                                            <option value="LOW">Low</option>
                                            <option value="MEDIUM">Medium</option>
                                            <option value="HIGH">High</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Status -->
                                <div class="col-12 mt-2">
                                    <label class="form-label" for="task-status">Status</label>
                                    <select id="task-status" class="form-select" th:field="*{status}">
                                        <option value="PENDING">Pending</option>
                                        <option value="IN_PROGRESS">In progress</option>
                                        <option value="PARTIALLY_COMPLETED">Partially completed</option>
                                        <option value="COMPLETED">Completed</option>
                                    </select>
                                </div>

                                <!-- Notes -->
                                <div class="col-12 mt-2">
                                    <label class="form-label" for="task-notes">Notes</label>
                                    <textarea class="form-control" id="task-notes" rows="2" placeholder="Optional notes..." th:field="*{notes}"></textarea>
                                </div>

                                <!-- Owner y Created At -->
                                <div class="row mt-2">
                                    <div class="col">
                                        <label class="form-label" for="task-owner">Owner</label>
                                        <input type="text" id="task-owner" class="form-control" th:field="*{username}" disabled readonly/>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" for="task-createdAt">Created At</label>
                                        <input type="text" id="task-createdAt" class="form-control" th:field="*{createdAt}" disabled readonly/>
                                    </div>
                                </div>
                            </div>

                            <!-- Completed y Starred -->
                            <div class="col-12 d-flex gap-4">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="task-completed" th:field="*{completed}">
                                    <label class="form-check-label" for="task-completed">Completed</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="task-starred" th:field="*{starred}">
                                    <label class="form-check-label" for="task-starred">⭐ Starred</label>
                                </div>
                            </div>

                            <!-- Botones -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Edit</button>
                                <a href="#" th:href="@{/}" class="btn btn-light float-end">Back</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
        <span class="text-muted">TaskHive - Openwebinars.net - Luis Miguel López Magaña</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>